@media (max-width: 768px) {
    /* HEADER & NAV */
    header .container {
        flex-direction: column;
        gap: 15px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav ul li a {
        margin-left: 0;
    }

    /* HERO */
    #hero h2 {
        font-size: 2.2em;
    }
    
    #hero {
        height: auto;
        padding: 4rem 0;
    }

    /* ESTRUTURA */
    .dual-columns {
        flex-direction: column;
    }
    
    .historia-container {
        flex-direction: column-reverse; /* Imagem em cima do texto no mobile */
    }

    /* PORTFÓLIO */
    .portfolio-grid {
        grid-template-columns: 1fr;
    }

    /* FOOTER */
    footer .container {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}